@import url(reset.css);
@import url(header.css);

h2, h3 { text-align: center;}

:root{
    --primary-color: #B5925C;
    --secondary-color: #F9F58B;
    --tertiary-color: #444;
}


* {
    font-family: 'Varela Round','Arial Rounded MT Bold', 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #F5F29D;
}
/* navigation */
nav {
    background-color: #F9F58B;
    text-align: center;
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {  
    max-width: 75px;
}

nav > ul :hover {
    text-decoration: none;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: linear-gradient(); 
}

nav a {
    display: inline-block;
    padding: 1.5rem;
    margin: 0.1rem;
    background-color: transparent; /* Verwijder de achtergrondkleur */
    color: #B5925C; /* Voeg deze regel toe om de tekstkleur aan te passen */
}

nav li {
    margin: 0 7rem; /* Voeg marge toe aan de linker- en rechterkant van elk li-element */
}

.logoContainer {  
    max-width: 100px;
    padding: 1rem; 
    /* color: #B5925C; /* Voeg deze regel toe om de tekstkleur van het logo aan te passen */
}
 
section{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.container-kamerFoto {
    max-width: 300px;
}

.kamerFoto {
    max-width: 300px;
    border-radius: 8px;
}

.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.kamerToevoegen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.kamer_toevoegen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

footer {
    background-color: var(--primary-color); 
    color:  #F9F58B;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
.footer-button{
    position: relative;
    display: inline-block;
    left: 10px;
    color: brown;
}
.wheater{
    text-align: center;
}
#containter{
    
    
    display:flex;
}
/* images---------------------------------------------------------------------------- */

.menu-img {
    display: flex;
    max-width: fit-content; 
    height: 400px; 
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

/* flexcontainer */


#flexcontainer {
    display: flex;
    flex: 1 1 auto;
}
.flex-iteml {
 display: flex;
 flex-flow: row-reverse;
 justify-content: space-evenly;
}

.flex-itemr {
    display: flex;
    justify-content: space-evenly;
   }

.flex-text{
 
align-self: center;

text-align: left;
width: 60%;
line-height: 1.5;
    
}
.titleitem{
display: block;

  
  }

