header,
h1,
h2,
p {
  text-align: center;
}
h1 {
  text-align: center;
}
.hero {
  background: url("../images/home-pagina/pexels-kelly-1179532-2869215.jpg") no-repeat;
  height: 450px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
}
