
h1,
h2,
h3,
a,
p {
    font-family: 'Arial Rounded MT Bold', 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.text-underline {
    text-decoration: underline;
}
/* nav {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
} */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}